# Entorno virtual
venv/
env/
ENV/
.venv/
.VENV/

# Archivos de configuración
*.pyc
__pycache__/
instance/
.webassets-cache

# Archivos de distribución
*.egg
*.egg-info
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/

# Archivos de logs y bases de datos locales
*.log
*.sqlite3

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de prueba y cobertura
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Otros
*.orig
*.zip
*.docx